body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
  }
  
  .profile {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  footer {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Tema Gelap */
  body.dark-theme {
    background-color: #333333;
    color: #ffffff;
  }
  
  header.dark-theme {
    background-color: #222222;
  }
  
  .profile.dark-theme {
    background-color: #444444;
  }
  
  button.dark-theme {
    background-color: #555555;
  }
  
  button.dark-theme:hover {
    background-color: #666666;
  }
  